.ui.segment {
  margin-right: 0.0125em !important;
}
html,
body {
  height: 100%;
  font-family: Raleway, sans-serif !important;
  margin: 50px 0 0 0px !important;
  background-color: #fff !important;
}

.Body {
  font-family: Raleway, sans-serif;
  margin: 0;
  padding: 85px 0 0 0;
}

.top50 {
  font-size: 48px;
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

.top20 {
  margin-top: 20px;
}

.App {
  font-family: Raleway, sans-serif;
  text-align: center;
  font-size: 12px;
  margin-bottom: 50px;
  padding: 75px 20px 0 20px;
}
.NavBar {
  border-bottom: 1px groove rgb(221, 221, 221);
}
ul {
  font-family: Raleway, sans-serif !important;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}

li {
  font-family: Raleway, sans-serif !important;
  cursor: pointer;
  display: flex;
  align-items: center;
}

a:link {
  text-decoration: none;
  color: #ff6666;
}

a:visited:link {
  text-decoration: none;
  color: gray;
}

a:active:link {
  text-decoration: none;
  color: black;
}

a {
  display: flex;
  align-items: center;
  color: #ff6666;
}

.Fluff {
  padding-left: 5px;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
  padding: 10px;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-top: 100px;
  height: 40px;
  width: 100%;
  background-color: rgba(10, 9, 9, 0.842);
  color: white;
  left: 0;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 100px;
}
.propertyaddress {
  text-align: left !important;
  text-transform: uppercase;
  color: #000;
  margin-left: 10px;
}

.propertywebid {
  text-align: left !important;
  text-transform: uppercase;
  font-weight: normal;
  color: #ff6666;
}

.active .tab {
  overflow-y: auto;
  white-space: nowrap;
}

.MuiAppBar-colorPrimary {
  color: rgba(0, 0, 0, 0.75) !important;
  background-color: #fff !important;
  font-family: "Raleway", sans-serif !important;
}

.MuiAppBar-colorPrimary {
  color: rgba(0, 0, 0, 0.75) !important;
  background-color: #fff !important;
  font-family: "Raleway", sans-serif !important;
}

.MuiPaper-root .MuiAppBar-colorPrimary {
  color: rgba(0, 0, 0, 0.75) !important;
  font-family: "Raleway", sans-serif !important;
}

.MuiTypography-body1 {
  color: rgba(0, 0, 0, 0.65) !important;
  font-size: 12px !important;
  font-family: Raleway, sans-serif !important;
}

.ui .card .grid a:link a:visited {
  color: #ff6666 !important;
}

i.icon {
  color: #ff6666;
  display: inline-block;
  opacity: 1;
  font-size: 2em !important;
  width: 10em !important;
  height: 1em !important;
  font-family: Icons !important;
  text-align: right !important;
}

.ui .card .grid a:hover {
  color: rgb(0, 0, 0);
}

.ui .card .description {
  font-weight: bold;
}

.accordion .title .active .item {
  font-family: Raleway, sans-serif !important;
}

.accordion .ui {
  width: 100% !important;
}

.ui i.icon.dropdown {
  color: #ff6666;
  opacity: 1;
  width: 1em !important;
  font-size: 1.5em !important;
  height: 1em !important;
  font-family: Icons !important;
  text-align: right !important;
}

.imageBorder {
  border: 1px solid black;
}

.carousel {
  width: 105% !important;
  margin: 0px !important;
  padding: 0px !important;
  text-align: left;
}

.Carousel {
  width: 104% !important;
  margin: 0px !important;
  padding: 0px !important;
  background-color: #fff !important;
  text-align: left;
}

.carousel .slide {
  background-color: #fff !important;
}

.ui.container {
  width: auto !important;
  margin-left: 0em !important;
  margin-right: 0em !important;
  max-width: 100% !important;
  border: 0px;
}

.ui.labeled .icon {
  width: 1em !important;
}

.ui.labeled .item {
  max-width: 20px !important;
  padding: 5px;
  margin-right: 0;
  float: right;
  border: 0px;
}

div.ui.labeled.icon.menu {
  margin-left: 50px;
  border: 0px;
  max-width: 320px;
  float: right;
  font-size: 1em;
}

div .desc {
  padding: 20px 0 0 80px;
  width: 100%;
  font-size: 1.25em;
  text-align: justify;
}

._2rRxbhZfd2m69aGyclMHup {
  font-family: "Raleway", sans-serif;

  font-size: 12px;
  max-width: 250px;
  padding: 0.5em;
  background-color: #fff;
  border: 1px solid var(--secondary-one);
}

div._2rRxbhZfd2m69aGyclMHup input {
  width: 100%;
  text-indent: 1em;
  font-size: 12px;
  padding: 0.7em;
  margin: 0 0 0.2em 0;
  border: 1px solid var(--secondary-one-light);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

div._3N7LQgadYQG6Efvq5phiUY select {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}
div._2QxqScDSDuK4P0ny7KZKNr {
  display: none;
}

div._39yvVzrxrpb0jfSJ06VKQG button {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  background-color: #ff6666;
}

div._3gGF3MGRKxzQZh6RczOEoz {
  background-color: #ccc;
}

div._1b3zzIo85pUJ3f_AHItArg {
  border-bottom: #ff6666;
  padding: 0.5em, 5em 0.5em 0;
}

div.jAN-uedtUK0ALBwN8-1Q0 {
  border-bottom: #ff6666;
  padding: 0.5em, 5em 0.5em 0;
}
